
/*HEADER*/
header{
	width: 100%;
	background-color: #211A26;
	height: 140px;
	margin-bottom: 0px;
}


.logo{
	width: 100%;
	padding-bottom: 10px;
	padding-left: 100px;
	height: auto;
}


/*MENU*/
.menu_botones{
	font-size: 15px;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 15px;
	padding-right: 70px;
	display: inline-block;
}
.menu_botones li
{
	display: inline-block;
	padding-top: 50px;
}
.menu_botones li a{
	color: white;
	padding: 10px;
	padding-top: 10px;
}
.menu_botones li a:hover{
	background-color: #6E7B9F;
	padding-top: 100px;
	text-decoration: none;
}


/*CUADRO BUSQUEDA*/

.cuadro_busqueda
{
	/*padding-left: 700px; 
	padding-top: 30px;
	padding-right: 50%;*/
	width: 100%;
	margin-top: -10px;
	text-align: center;
	padding-bottom: -20px;
	background-color: #FFC430;
	float: right;
}
.formulario
{
	width:40%;
	height: 50px;
	top: -12px;
	position: relative;
	border-radius: 10px;
}

.boton-form{
	width: 100px;
	top: -12px;
	background-color: #211A26;
	color: white;
	border: 0 auto;
	border-radius: 10px;
	position: relative;
	padding: 10px;
}
h2{
	text-align: center;
	background-color: #FFC430;
	margin: 0px;
	padding-top: 0px;

}


/*SERVICIOS*/


.servicios{
	width: 100%;
	padding-top: -100px;
	padding-bottom: 50px;
	text-align: center;
	display: inline-block;
	background-color: #FFC430;
}
.servicios,span, p {
	color:  #1A1714;
	padding-top: 20px;
}

i{
	padding-top: 40px;
	padding-bottom: 10px;
}

/*BARRA LINK REDES SOCIALES*/

.list-group
{
	height: 50px;
	padding: 0px;
	margin: 0 auto;
	background-color: #6E7B9F;
	text-align: center;
}
.list-group i{
	color: white;
	padding: 10px;
	padding-bottom: 0 auto;
}

/*FOOTER*/


footer{
	width: 100%;
	padding-left: 50px;
	padding-top: 40px;
	background-color: #211A26; 
	color: white;
	margin-top: -20px;
}
.ion-ios-location{
	color: white;
	padding-right: 10px;
}

.ion-ios-telephone{
	color: white;
	padding-right: 10px;
}
.ion-android-mail{
	color: white;
	padding-right: 10px;
}

.logo2{
	width: 250px;
	height: 250px;
	margin-top: -20px;
	display: inline-block;
	float: right;
}
